<!-- <button class="btn btn-primary" [disabled]="!isEnabled" (click)="onButtonClicked($event)">Add new server</button> -->
<!-- <app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server> -->

<!-- <input type="text" class="form-control" [(ngModel)]="username"  
    (input)="valueChanged($event)"/>

{{username}}

<button (click)="buttonClicked()" [disabled]="!isEnabled">Clear username</button> -->

<button (click)="toggleVisible()">Toggle visible parameter</button>
<p *ngIf="isVisible">Protected paragraf</p>

<!--<div *ngFor="let model of models; let i = index"
    [ngStyle]="setStyle()"
    [ngClass]="setKlasa()">{{model.id}} - {{model.date}} - index:{{i}}
</div>-->

<div *ngFor="let model of models; let i = index"
    [ngStyle]="setStyle(i)"
    [ngClass]="setKlasa(i)">{{model.id}} - {{model.date}} - index:{{i}}
</div>